.player {
  height: 100vh;
  background: url('./images/Bg.webp') no-repeat center;
  background-size: cover;
  position: relative;
}

.player_buttons {
  width: 30%;
  border: solid orange 2px;
  border-radius: 15px;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: 200px;
  right: 50%;
  transform: translateX(50%);
}

button:nth-child(n) {
  width: 20%;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

.backward {
  transform: rotate(180deg);
  /* padding-bottom: 5px; */
}

.backward::after {
  content: url('./icons/arrow.svg');
  height: 100%;
}

.backward svg {}

.play {}

.play::after {
  content: url('./icons/play.svg');
}

.pause {}

.pause::after {
  content: url('./icons/pause.svg');
}

.forward {}

.forward::after {
  content: url('./icons/arrow.svg');
}