.navbar {
  background-color: lightblue;

  &_container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &_logo {
    align-self: center;
  }

  &_list {
    display: flex;
  }

  &_item {
    align-self: center;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &_logo:hover,
  &_item:hover {
    transition: color 0.3s;
    color: white;
  }
}